.title {
  width: 60%;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  background-color: #0d4fc1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-after-login {
  font-size: 40px;
  font-weight: 500;
  padding: 20px;
  text-align: left;
  color: white;
  background-color: rgb(85, 145, 245);
  box-shadow: 0px 5px rgba(85, 145, 245, 0.5);
}
