.Login {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: block;
  padding-top: 20px;
}

Logout {
  text-align: right;
}

Profile {
  position: absolute;
  width: 100%;
}
